<!-- INCLUDE overall_header.html -->
<h2>{S_VAR}</h2>

<table>
    <thead>
    <tr>
        <th style="text-align: center;">Player</th>
        <th style="text-align: center;">Ping</th>
        <th style="text-align: center;">Score</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN players -->
    <tr>
        <td style="text-align: center;">{players.NAME}</td>
        <td style="text-align: center;">{players.PING}</td>
        <td style="text-align: center;">{players.FRAG}</td>
    </tr>
    <!-- END players -->
    </tbody>
</table>
<!-- INCLUDE overall_footer.html -->